bin/
gen/
build/
fieldTask-release/
fieldTask/fieldTask-release/
local.properties
import-summary.txt
fieldTask/src/kontrolid

*.apk

gradlew
gradlew.bat

# Android Studio
.gradle
.idea
*.iml

.DS_Store
.AppleDouble
.LSOverride
